<div class="home-container">

  <div class="container pt-5">
    <div class="row justify-content-start my-5">
      <div class="col-8 justify-content-center">
          <%= link_to "Primaria, Formulario de Referidos ", new_referral_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
      </div>
    </div>

    <div class="row justify-content-start my-5">
      <div class="col-8 justify-content-center">
          <%= link_to "Secundaria, Formulario de Referidos ", new_referral_path, class: "btn btn-primary btn-lg rounded-pill text-white bg-dark bg-gradient mt-3 px-5 shadow border-0 font-rubik" %>
      </div>
    </div>

    <div class="row justify-content-start my-5">
      <div class="col-8 justify-content-center">
          <%= link_to "Fiesta de egresados", new_referral_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-dark bg-gradient mt-3 px-5 text-dark-purple shadow border-0" %>
      </div>
    </div>



    <div class="d-flex justify-content-center">
      <% if current_user && current_user.type_of_user == "Admin" %>
        <%= link_to "Indice de referidos Primaria", referrals_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <% if current_user && (current_user.type_of_user == "User" || current_user.type_of_user == "Admin")%>
        <%= link_to "Formulario de Promotores", new_school_promoter_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <% if current_user && current_user.type_of_user == "Admin" %>
        <%= link_to "Indice de Promotores", school_promoters_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
      <% end %>
    </div>
  <%# <% console %>
  </div>
</div>
