<div class="home-container">

  <div class="row-margin">
    <div class="d-flex justify-content-center">
      <div id="title", class="font-rubik">UNIVERSO EGRESADOS</div>
    </div>
  </div>

  <div class="d-flex justify-content-center p-5">
    <% if current_user && (current_user.type_of_user == "User" || current_user.type_of_user == "Admin")%>
      <%= link_to "Formulario de Promotores", new_school_promoter_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
    <% end %>
  </div>

  <div class="row-margin">
    <div class="d-flex justify-content-center">
      <%= link_to "CONTACTO PRIMARIA", new_contact_path, class: "home-button font-rubik" %>
    </div>
  </div>

  <div class="row-margin">
    <div class="d-flex justify-content-center">
      <%= link_to "CONTACTO SECUNDARIA", new_second_contact_path, class: "home-button font-rubik" %>
    </div>
  </div>

  <%# <div class="row-margin">
    <div class="d-flex justify-content-center">
      <div id="subtitle", class="font-rubik">FORMULARIOS DE REFERIDOS</div>
    </div>
  </div> %>

  <div class="row-margin">
    <div class="d-flex justify-content-center">
      <%= link_to "FIESTA DE EGRESADOS", new_graduate_path, class: "home-button font-rubik" %>
    </div>
  </div>


  <div class="row-margin">
    <div class="d-flex justify-content-center">
      <%= link_to "$ $  RECOMENDA Y GANA  $ $", new_referral_path, class: "home-button font-rubik" %>
    </div>
  </div>
<div class="div">


  <%# <div class="row-margin">
    <div class="d-flex justify-content-center">
      <%= link_to "SECUNDARIA", new_referral_path, class: "home-button font-rubik" >
    </div>
  </div> %>


  <div class="d-flex justify-content-center">
    <% if current_user && current_user.type_of_user == "Admin" %>
      <%= link_to "Indice de referidos Primaria", referrals_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
    <% end %>
  </div>


  <div class="d-flex justify-content-center">
    <% if current_user && current_user.type_of_user == "Admin" %>
      <%= link_to "Indice de Promotores", school_promoters_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
    <% end %>
  </div>

    <div class="d-flex justify-content-center">
    <% if current_user && current_user.type_of_user == "Admin" %>
      <%= link_to "Indice de Contactos Primaria", contacts_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
    <% end %>
  </div>

    <div class="d-flex justify-content-center">
    <% if current_user && current_user.type_of_user == "Admin" %>
      <%= link_to "Indice de Contactos Secundaria", second_contacts_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
    <% end %>
  </div>

      <div class="d-flex justify-content-center">
    <% if current_user && current_user.type_of_user == "Admin" %>
      <%= link_to "Indice Contactos Fiestas de Egresados", graduates_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>
    <% end %>
  </div>

  <%# <% console %>
</div>


<%#  esta pagina le falta ser responsive, al momento se ve bien en el celular y en la pc, pero porque esta harcodeado %>


<%#  ademas habria que hacer que se vea mas linda para los ususarios con cuenta,   para el moderador, y para los promotores %>
