<div class="home-container">
  <h1 class="title" >Viajes de Egresados</h1>
  <div id="banner" class="d-flex justify-content-center">
    <img src="<%= image_path("banner 2.jpg") %>" alt="banner 2">
  </div>

  <%= link_to "referrals form", new_referral_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>

  <%= link_to "referrals index", referrals_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>

  <%= link_to "school promoter form", new_school_promoter_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>

  <%= link_to "school promoter index", school_promoters_path, class: "btn btn-primary btn-lg rounded-pill text-primary bg-white mt-3 px-5 text-dark-purple shadow border-0" %>

</div>
