

<section style="background-color: #eee;">  <%# class="vh-100"  %>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Referidos</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Nombre Referido</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Colegio</th>
                  <th scope="col">Grado</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Turno</th>
                  <th scope="col">Localidad del colegio</th>
                  <th scope="col">Nombre Referente</th>
                  <th scope="col">Celular Referente</th>
                  <th scope="col">Localidad Referente</th>
                  <th scope="col">Colegio Referente</th>
                  <th scope="col">Fecha creacion</th>

                </tr>
              </thead>
              <tbody>
                <% @referrals.each do |referral| %>
                <tr>
                  <td class="align-middle">
                    <span><%= referral.referral_name %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referral_phone %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referral_school %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referral_grade %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referral_division %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referral_shift %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referral_school_location %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referrer_name %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referrer_phone %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referrer_location %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.referrer_school %></span>
                  </td>
                  <td class="align-middle">
                    <span><%= referral.created_at %></span>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>

          </div>
          <div class="card-footer text-end p-3">
            <%= link_to "Volver", :back, class: "btn btn-primary"%>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
